# Node modules
/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossier de sortie de TypeScript (si tu utilises TypeScript)
dist/

# Dossiers temporaires de l'éditeur (VS Code, etc.)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Fichiers de test
coverage/

# Fichiers d'outils de build
*.swp
*.swo